/* Classes */
.show-class-in-list {
    background-color: lightgray;
}

.show-class-details {
    background-color: lightblue;
}

.success {
    color: green;
}

.failure {
    color: red;
}


/* Students */



/* Registered Students */
